<!DOCTYPE html>
<html>
<%- include('../partials/head',{ title : 'Detalle' }) %>

    <body>
        <%- include('../partials/header',{q : '' }) %>

            <div class="contenedor-detail">


                <div class="contenedor-detail-carrito">


                    <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../../images/products/<%= product.imagen%>" />
                            </div>
                            <% images.forEach(image=> {%>
                                <div class="swiper-slide">
                                    <img src="../../../images/products/<%= image%>" />
                                </div>
                                <% }); %>
                        </div>

                    </div>



                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper swiper-wrappers">
                            <div class="swiper-slide swiper-slides">
                                <img src="../../../images/products/<%= product.imagen%>" />
                            </div>

                            <% images.forEach(image=> {%>
                                <div class="swiper-slide swiper-slides">
                                    <img src="../../../images/products/<%= image%>" />
                                </div>
                                <% }); %>

                        </div>
                    </div>


                </div>

                <div class="contenedor-detalles">
                    <h1>
                        <%= product.name%>
                    </h1>
                    <h3>
                        <%= product.description%>
                    </h3>
                    <p>
                        <%= product.descripcion%>
                    </p>

                    <div class="botones-detail">
                        <div>
                            <h4>$<%= product.price %>
                            </h4>
                        </div>
                        <div>
                            <form method="POST" action="/products/favorite/<%= product.id %>" class="favoriteForm">
                                <input type="hidden" name="id" value="<%= product.id %>" class="productId">
                                <button type="submit" class="heartButton">
                                    <% if (favorites.some(favorite=> favorite.productId === product.id)) { %>
                                        <i class="fa-regular fa-heart" style="color: red; border-color: red;"></i>
                                        <% } else { %>
                                            <i class="fa-regular fa-heart"></i>
                                            <% } %>
                                </button>
                            </form>

                            <div>

                                <button type="button" onclick="addItemToCart(1,'<%=product.id%>')"> <i
                                        class="fa-solid fa-bag-shopping"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="quantity">Cantidad:</label>
                        <select id="quantity" name="quantity">
                            <% for(let i=1; i <=product.cantidad; i++) { %>
                                <option value="<%= i %>">
                                    <%= i %>
                                </option>
                                <% } %>
                        </select>
                    </div>

                </div>


            </div>

            <script>
                var heartButtons = document.querySelectorAll('.heartButton');
                heartButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var heartIcon = this.querySelector('.fa-heart');
                        heartIcon.style.color = heartIcon.style.color === 'red' ? '' : 'red';
                        heartIcon.style.borderColor = heartIcon.style.borderColor === 'red' ? '' : 'red'
                    });
                });
            </script>


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.heartButton').on('click', function (e) {
                        e.preventDefault(); // Evita que se envíe el formulario

                        var productId = $(this).siblings('.productId').val();
                        var formAction = '/products/favorite/' + productId;
                        var heartIcon = $(this).find('.fa-heart');

                        $.ajax({
                            url: formAction,
                            type: 'POST',
                            data: { id: productId },
                            success: function (response) {
                                if (response.isFavorite) {
                                    heartIcon.css({ 'color': 'red', 'border-color': 'red' });
                                } else {
                                    heartIcon.css({ 'color': '', 'border-color': '' });
                                }
                            }
                        });
                    });
                });
            </script>
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    loop: true,
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    loop: true,
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
            </script>


    </body>

</html>