<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>

    <div class="container" style="max-width: 500px;">

        <img width="100%" src="/images/1.svg" alt=""></a>
        <h1 class="text-center my-4">Login</h1>
        <form method="post" action="/user/login" class="form-group">
            <label for="email">Usuario:</label>
            <input type="text" id="email" name="email" class="form-control" value="<%= locals.old && (old.email && old.email) %>">
            <p style="color: red;" class="login-grupoA"><%= locals.errors && errors.email ? errors.email.msg : '' %></p>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" value="<%= locals.old && (old.password && old.password) %>">
            <p style="color: red;" class="login-grupoA"><%= locals.errors && errors.password ? errors.password.msg : '' %></p>
            <button type="submit" class="btn btn-primary" style="background-color: purple; border: none;">Iniciar sesion</button>
        </form>
        <a href="/user/register" class="btn btn-link" style="color: purple;">No tengo una cuenta</a>
    </div>
</body>
</html>
