<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{ title : 'Shop' }) %>

  <body>
    <%- include('partials/header') %>
    <h1>Shop</h1>
      <div class="contenedor-shop">
        <% products.forEach(product=> { %>
          <div class="card card-shop" style="width: 18rem;">
            <a href="/products/detail/<%= product.id %>">
              <img class="card-img-top" src="/images/products/<%= product.imagen %>" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-text">
                  <%= product.name %>
                </h4>
                <p class="card-text">
                  <%= product.description %>
                </p>

              </div>
            </a>
            <div class="botones-shop">
              <div>
                <h4>$<%= product.price %>
                </h4>
              </div>
              <div class="botones-shop separar">
                <form method="POST" action="/products/favorite/<%= product.id %>" id="favoriteForm">
                  <input type="hidden" name="id" id="productId">
                  <button type="submit" class="heartButton">
                    <% if (favorites.some(favorite => favorite.productId === product.id)) { %>
                      <i class="fa-regular fa-heart" style="color: red; border-color: red;"></i>
                    <% } else { %>
                      <i class="fa-regular fa-heart"></i>
                    <% } %>
                  </button>
                </form>
                <i class="fa-solid fa-bag-shopping"></i>
              </div>
            </div>
          </div>

          <% }); %>
      </div>


      
      
      <script>
      var heartButtons = document.querySelectorAll('.heartButton');
      heartButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          var heartIcon = this.querySelector('.fa-heart');
          heartIcon.style.color = heartIcon.style.color === 'red' ? '' : 'red';
          heartIcon.style.borderColor = heartIcon.style.borderColor === 'red' ? '' : 'red'
        });
      });
      </script>
      
     
  </body>

</html>